* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}

.header {
    height: 40px;
    background-color: rgb(255, 187, 210);
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.cart-button {
    width: 100px;
    height: 40px;
    color: rgb(57, 27, 228);
    background-color: rgb(231, 231, 231);
    border: 1px solid rgb(17, 17, 17);
    border-radius: 5px;
    
}

.goods-item {
    border: 1px solid rgb(207, 207, 207);
    padding: 10px;
    width: 200px;
    height: 300px;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: min-content auto min-content;
    gap: 10px;

}
.goods-item *{
    display: flex;
    justify-content: center;
}
.goods-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 10px;
}

